@model IEnumerable<ProductosViewModel>

@{
    ViewBag.Title = "Home Page";

}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th><a a asp-controller="App" asp-action="Edit" class="btn btn-success">Agregar Producto</a></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)































































        {
            <tr>
                <td>No hay datos</td>
            </tr>
        }































































        else































































































        {
            @foreach (var item in Model)















            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Categoria</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Precio</td>
                    <td class="columnaBotones">
                        <a asp-controller="App" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png"
                                alt="Editar" class="btnEdit"></a>
                        <a asp-controller="App" asp-action="Delete" asp-route-id="@item.Id"
                            onclick="return confirm('Estas seguro que deseas eliminar el producto?')"><img
                                src="~/images/delete.png" alt="Borrar" class="btnDelete"></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<style>
    .columnaBotones {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    img {
        text-align: center;
    }

    img {
        margin-right: 1rem;
        transition: transform 0.1s ease;
    }

    img:hover {
        transform: scale(1.1);
    }
</style>